*{
  margin: 0px;
  padding: 0px;
  /* background-color: #A47E3B; */
  box-sizing: border-box;
}
body{
    background: url(img/bod.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
nav{
  display: flex;
  margin-top: 2%;
}
.logo{
  width: 30%;
  margin-left: 10%;
  font-size:33px;
}
.nav-list{
  display: flex;
  margin-left: 70%;
}
.na-items{
  list-style: none;
  margin-left: 70%;
  font-size:24px;

}
.na-items a{
  text-decoration: none;
  color: #D61C4E;
  transition: color.4s;
}
.na-items a:hover{
  color: rgb(0, 0, 0);
}
.main-text{
  font-size: 40px;
  margin-left: 30%;
  margin-top: 10%;
  letter-spacing: 6px;

}
.body-text{
  font-size: 20px;
  width: 46%;
  margin-left: 20%;
  letter-spacing: 6px;
}
.mail{
  background-color: transparent;
  outline: none;
  border: 4px solid #EF5B0C;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-left: 39%;
  margin-top: 4%;
  transition: .4s;
}
.mail:hover{
  background-color: #876445;
  color: #D61C4E;
}
